<div>
	<h2 class="header">Credit OR Debit  Manual Points </h2>
</div>
	<div>
		<form>
		<table class="table table-borderless">
			<tbody>
				<tr>
					<th>Consumer Name</th>
					<td>
						<select>
							<option>PANDU</option>
							<option>RAHUL</option>
						</select>
					</td>					
				</tr>
				<tr>
					<th>Points</th>
					<td>
						<input type="number" name="points"/>
					</td>					
				</tr>
				<tr>
					<th>Want To</th>
					<td>
						<select>
							<option>CREADIT</option>
							<option>DEBIT</option>
						</select>
					</td>					
				</tr>
			</tbody>
		</table>
		<div>
			<strong><button class="btn btn-primary pull-right">CANCEL</button></strong>
			<strong><button class="btn btn-primary pull-right">SAVE</button></strong>
		</div>
		</form>
	</div>
