<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Signup</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"	media="screen" th:href="@{css/custom/user/user.sign.up.css}" />
<!-- <link rel="stylesheet"	media="screen" th:href="@{css/custom/search/consumerSearch.css}" /> -->
<link href="static/css/bootstrap.min.css" rel="stylesheet"	media="screen" th:href="@{css/bootstrap.min.css}" />
<link href="static/css/core.css" rel="stylesheet" media="screen" th:href="@{css/core.css}" />
<script src="static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
       
<script th:src="@{angularJS/change-user-password.js}"></script>
</head>
<body ng-app="changePasswordApp" ng-controller="UserController">
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
		<div class="row" style="padding-top: 50px;">
			<div class="col-xs-offset-2">
				<form role="form" class="form-horizontal" name="userForm"
					ng-submit="changeUserPassword()">
					<div>
						<label>Old Password</label><input type="text" class="commomInput"
						ng-keyup="checkOldPassword()"	ng-model="userForm.oldPassword" placeholder="Old Password">
					</div>
					<div>
						<label>New Password</label><input type="text" class="commomInput"
							ng-model="userForm.newPassword" placeholder="New Password">
					</div>
					<div>
						<label>Confirm Password</label><input type="text" class="commomInput"
							ng-model="userForm.confirmPassword" placeholder="Confirm Password">
					</div>
					<div>
						<button type="submit" class="btn btn-primary change-password-btn">Change
							Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>